.home-search{
    position: absolute;
    top: 40%;
    z-index: 10;
    transform: translateY(-50%);
    width: 100%;
    padding: 10px;
    text-align: center;

    .ant-select-selection--single{
        border-radius: 0;
    }
    .search-type{
        width: 100px;
    }
    .search-name{
        width: 300px;
        border-radius: 0;
    }
    .search-btn{
        margin-top: -1px;
        border-radius: 0;
    }
}
.home-search.already-have-result{
    position: relative;
    top: 0;
    transform: translateY(0);
}

.home-search-result{
    width: 75%;
    padding: 10px;
    margin: 0 auto;
    display: none;
    .ant-table-thead{
        display: none;
    }
    .operate-btn{
        display: block;
        min-width: 48px;
    }
}
.home-search-result.show{
    display: block;
}
.home-search-result-mini{
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    display: none;
    .ant-table-thead{
        display: none;
    }
    .operate-btn{
        display: block;
        min-width: 48px;
    }
}
.home-search-result-mini.show{
    display: none;
}
@media (max-width:767px){
    .home-search{
        .ant-form-item > div{
            display: block;
        }
        .ant-form-item{
            display: block;
            margin-right: 0;
            margin-bottom: 10px;
        }
        .search-type{
            width: 100%;
        }
        .search-name{
            width: 100%;
        }
        .search-btn{
            width: 100%;
        }
    }
    .home-search-result.show{
        display: none;
    }
    .home-search-result-mini.show{
        display: block;
    }
}