.dependdency-graph-cycle-tags{
    position: absolute;
    top: 30px;
    left: 10px;
    z-index: 10;
    
    li{
        margin-bottom: 5px;
        button{
            background: #f0f5f8;
        }
    }
}
.hehe{
    display: block;
    margin-bottom: 5px;
    border-radius: 0!important;
    border: 1px solid #d9d9d9!important;
    box-shadow: none!important;
}