.yt-admin-framework-page{
    .page-content{
        position: relative;
        // min-width: 800px;
        min-height: 400px;
        min-height: calc(100vh - 50px);
        overflow: auto;
    }
}

.yt-admin-page-title{
    margin: 20px;
}
@media (max-width:767px){
    .yt-admin-framework-page{
        .page-content{
        }
    }
    .yt-admin-page-title{
        margin: 10px;
    }
}